<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azamat`s blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a> </h1>
    </div>
    {% for post in posts %}
        <div>
            <p>pulished: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a> </h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>ashdf asdfu wqiyrq oruq  agfuiw oqr  fiugq qiwgr.</p>
    </div>
</body>
</html>